
.innerdiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.introtxt{
    font-size: xx-large;
    color: #697565;
}

.btndiv{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center
}

