
.mainNav{
    position: fixed !important;
    width: 90% !important;
    height: 10px ;
    margin: 0% 5% !important;
    background-color: #3C3D37;
    padding: 10px;
    border-radius: 0px 0px 30px 30px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logo{
    font-size: x-large;
    cursor: pointer;
}

.menu{
    display: flex;
    gap: 20px;
    list-style: none;
    /* padding-right: 20%; */
}
